<div id="eventswrap">
    <div class="events-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems events">
            {% for event in site.events limit:include.limit %}
                <div class="events-item graphic-design">
                    <div class="he-wrap tpl6">
                    <img src="{{ "/assets/img/events/" | prepend: site.baseurl }}{{ event.img }}" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">{{ events.title }}</h3>
                                <a data-rel="prettyPhoto" href="{{ "/assets/img/event/" | prepend: site.baseurl }}{{ event.img }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="{{  event.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- events -->
    </div><!-- events container -->
</div><!--/eventswrap -->
